h2 {
  font-size: 20px;
  cursor: pointer;
}

img{
  width: auto;
  height: auto;
}

.logo {
    float: left;
    margin-right: 20px;
}
.stay_inline{
  width: 100%;
	margin: 0px,auto;
	display: inline-block;
	vertical-align: top;
}
#container {
	max-width:1000px;
	margin:0 auto;
	display: block;
	position: relative;
	/*border: 2px solid;
	background-color: #E5E5E5 !important;*/
}

.node {
  font: 400 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  fill: #bbb;
  overflow: visible !important;
}

.node:hover {
  fill: #000;
}

.link {
  stroke: #666666;
  stroke-opacity: .5;
  fill: none;
  pointer-events: none;
}

.people .link {
  stroke-opacity: 0;
}

.link-output-tagged, .link-output-target, .link-output-source {
 /* .style("stroke-width", "2")
          .style("stroke-opacity", "1")*/
  stroke: #34D1BF;
  stroke-opacity: 1;
  stroke-width: 3px;
}
.link-output-untagged {
 /* .style("stroke-width", "2")
          .style("stroke-opacity", "1")*/
  stroke-opacity: 0.5;
  stroke-width: 1px;
}

.link-people-tagged, .link-people-target, .link-people-source{
 /* .style("stroke-width", "2")
          .style("stroke-opacity", "1")*/
  stroke: #3454d1;
  stroke-opacity: 1;
  stroke-width: 3px;
}
.link-people-untagged {
 /* .style("stroke-width", "2")
          .style("stroke-opacity", "1")*/
  stroke-opacity: 0.5;
  stroke-width: 1px;
}
.link--tagged {
 /* .style("stroke-width", "2")
          .style("stroke-opacity", "1")*/
  stroke: #d62728;
  stroke-opacity: 1;
  stroke-width: 3px;
}
.link--untagged {
 /* .style("stroke-width", "2")
          .style("stroke-opacity", "1")*/
  stroke-opacity: 0.5;
  stroke-width: 1px;
}

.node-people-target .circle, 
.node-people-source .circle{
  stroke: #3454d1;
}

.node-output-target .circle, 
.node-output-source .circle{
  stroke: #34D1BF;
}

.node--target .circle,
.node--source .circle{
  stroke: #d62728;
}

.node--source, .node--target,
.node-people-source, .node-people-target,
.node-output-source, .node-output-target   {
  fill: #000;
}


.link--source,
.link--target {
  stroke-opacity: 1;
  stroke-width: 3px;
}

.circle {
  stroke: black;
}

.link--source {
  stroke: #d62728;
}

.link--target {
  stroke: #d62728;
}
.peoplHolder {
  width: 170px;
  display: inline-block;
}
.tagHolder {
  max-width: 250px;
  float: right;
}
.disabledHolder {
  opacity: 0.3;
  pointer-events: none;
}

#vis_container {
  position: absolute;
  top: 60px;
  left: 150px;
}

.tag {
  height: 60vh;
  overflow: scroll;
}
.packery-sizer, .packery-object {
  width: 360px;
  /*border: 2px solid;*/
  /*background-color: red;*/
  height: 500px;
}
.card.single {
  width: 300px;
  background-color: #bbb;
   /*border: 2px solid;*/
  height: 400px;
}

.card.double {
  width: 620px;
  background-color: green;
   border: 2px solid;
  height: 400px;
}

.card-header {
  cursor: move;
   border: 2px solid;
   background-color: blue;
}

.card a {
  font-size: 20px;
  color: white;
}

.project {
  border-radius: 5px;
  padding:20px;
}

button.accordion {
    background-color: #cd5b5c;
    border: none;
    border-radius: 4px 4px 0 0;
    color: #FFF;
    cursor: pointer;
    font-size: 15px;
    height: 36px;
    outline: none;
    padding: 5px 10px;
    text-align: left;
    transition: 0.4s;
    width: 100%;
}

button.accordion.active, button.accordion:hover {
    background-color: #d62728;
}

button.accordion:after {
    content: '\02795';
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2796";
}

div.panel {
    padding: 0 18px;
    background-color: #EEE;
    border-radius: 0 0 4px 4px;
    max-height: 0;
    margin-bottom: 4px;
    overflow: hidden;
    transition: 0.6s ease-in-out;
    opacity: 0;
}

div.panel p {
  cursor: pointer;
  color: #d62728;
  margin: 8px 0 8px;
}

div.panel p.people {
  color: #3454d1;
}

div.panel p.output {
  color: #34D1BF;
}

div.panel p:hover {
  font-weight: 600;
}

div.panel.show {
    opacity: 1;
    max-height: 500px;
}

.radio {
  display: inline;
  font-size: 30px;
  color: #666;
}
.radio input {
  visibility:hidden;
}
.radio label {
  padding-left: 5px;
}

:checked + i{
  color: #d62728;
} 
