<div style="height:100px">
	<div class="logo"><img src="images/logo.png" style="width: 80px;"></div>
	<div class="cntls">
		<h1>Critical Archive </h1>
		<div style="float: right; margin-top: -50px;">
            <div class="radio">
                <label>
                    <input type="radio" value="vis" ng-model="viewMode">
                    <i class="fa fa-share-alt fa-2" aria-hidden="true"></i>
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" value="packery" ng-model="viewMode" checked="checked">
                    <i class="fa fa-th fa-2" aria-hidden="true"></i>
                </label>
            </div>
        </div>

		</select>
	</div>
</div>


<div ng-show="viewMode=='vis'">
	
	<div class="tagHolder">
		<h2 class="stay_inline">People</h2>
		<div class="stay_inline people">
		</div>
		<h2 class="stay_inline">Output type</h2>
		<div class="stay_inline outputType">
		</div>
		<h2 class="stay_inline">Key words</h2>
		<div class="stay_inline tag">
		</div>	
	</div>


	<div style="position: absolute" id="vis_container"></div>

	<!--form>
	  <label><input type="radio" name="mode" value="date1">2015-12-16 10:38:50</label>
	  <label><input type="radio" name="mode" value="date2">2016-03-09 15:37:58</label>
	  <label><input type="radio" name="mode" value="date3" checked>all</label>
	</form -->
</div>

<div ng-show="viewMode=='packery'">
	
	<packery ng-init="getStuff()" row-height=".card.single" column-width=".card.single" handle=".card-header" draggable="true" percentPosition="true" is-origin-top="true" gutter="20">
	    <packery-object ng-repeat="i in gridData" ng-style="{'width':i.width,'height':i.height,'background-image': i.url   }" class="card single project" style="overflow:hidden">
	       <a href="#/grid/{{i.id}}">{{i.title}}</a>
	    </packery-object>
	    
	<!-- this is a dummy pobject without which it inexplicably breaks -->
	    <packery-object class="card single" style="width:0px;height:0px; display:none">
	    </packery-object>
	</packery>


</div>