
.stay_inline{
	margin: 0px,auto;
	display: inline-block;
	vertical-align: top;
}
#container {
	width:1000px;
	top: 15px;
	margin:0 auto;
	display: block;
	position: relative;
	/*border: 2px solid;
	background-color: #E5E5E5 !important;*/
	
}

.node {
  font: 300 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
  fill: #bbb;
  overflow: visible !important;
}

.node:hover {
  fill: #000;
}

.link {
  stroke: steelblue;
  stroke-opacity: .4;
  fill: none;
  pointer-events: none;
}

.link--tagged {
 /* .style("stroke-width", "2")
          .style("stroke-opacity", "1")*/
  stroke-opacity: 1;
  stroke-width: 2px;
}
.link--untagged {
 /* .style("stroke-width", "2")
          .style("stroke-opacity", "1")*/
  stroke-opacity: 0.4;
  stroke-width: 1px;
}

.node:hover,
.node--source,
.node--target {
  font-weight: 700;
}

.node--source {
  fill: #2ca02c;
}

.node--target {
  fill: rgba(140,140,140,1);
}

.link--source,
.link--target {
  stroke-opacity: 1;
  stroke-width: 2px;
}

.link--source {
  stroke: #d62728;
}

.link--target {
  stroke: #d62728;
}
.packery-sizer, .packery-object {
  width: 360px;
  /*border: 2px solid;*/
  /*background-color: red;*/
  height: 500px;
}
.card.single {
  width: 300px;
  background-color: #E5E5E5;
   /*border: 2px solid;*/
  height: 400px;
}

.card.double {
  width: 620px;
  background-color: green;
   border: 2px solid;
  height: 400px;
}

.card-header {
  cursor: move;
   border: 2px solid;
   background-color: blue;
}

.project {
  border-radius: 10px;
  padding:20px;
}
